@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', monospace;
  line-height: 150%;
}

html, body, #__next {
  height: 100%;
}

#__next {
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}